.projects {
    height: 100%;
    width: 100%;
    background: var(--primary-color);

.projects_section {
    height: 100%;
    width: 100%;
}
}

.project_preview {
    padding: 2rem;
    color: #fff;
    width: 100%;

img {
    width: 550px;
}
}

.project_link {
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: var(--tertiary-color);

&:hover {
    color: var(--tertiary-color);
}
}

@media screen and (max-width: 480px) {
    .project_preview {
        padding: 2rem;
        color: #fff;
        width: 100%;
    
    img {
        width: 100%;
        height: 100%;
    }
    }
}

