.about_section {
    height: 100%;
    width: 100%;
    background: var(--primary-color);

.about_section_container {
    height: 100vh;
    width: 100%;

.about_text {
    padding: 1rem;

p {
    letter-spacing: 2px;
    font-size: 1.2rem;
    color: #feefea;  
}
}
}
}

@media screen and (max-width: 480px) {
    .about_text p {
        font-size: 0.8rem;
    }
}


