.about_section {
    height: 100%;
    width: 100%;
    background: var(--primary-color);

.about_section_container {
    height: 100vh;
    width: 100%;

.about_text {
    padding: 1rem;

p {
    letter-spacing: 2px;
    font-size: 1.2rem;
    color: #feefea;  
}
}
}
}

.about_btn {
  border: 2px solid var(--tertiary-color);
  outline: none;
  padding: 0.6rem 2rem;
  background: transparent;
  color: var(--tertiary-color) !important;
  text-decoration: none !important;
  transition: 0.4s ease-in-out;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;

  &:hover {
    background: var(--tertiary-color);
    color: #000 !important;
    border: none;
    transition: 0.4s ease-in-out;  
  }
}

@media screen and (max-width: 480px) {
    .about_text p {
        font-size: 0.8rem;
    }
}


