.footer {
    background: #b5c5d4;
    max-width: 100%;
}

.footer_content {
    padding: 3rem;
}

.footer_content h2, .footer_content h5 {
   color: #fff;
}

.footer_content h3 {
    font-size: 3rem;
}


.footer_content a {
   color: var(--secondary-color) !important;
   text-underline-position: below;
   padding: 1rem;
}

.contact {
    padding: 2rem;
}

.contact a {
    padding: 0 1rem;
}

@media screen and (max-width: 480px) {
    .footer_content h5 {
        font-size: 1rem;
    }

    .footer_content h3, .contact h3 {
        font-size: 1.5rem;
    }
}