/* @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); */


:root {
  --primary-color: #fff5f4;
  --secondary-color: #425466;
  --accent-color: #feefea;
  --dark-color: #0e1116;
  --white-color: #fefefe;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--white-color) !important;
  scroll-behavior: smooth;
  /* font-family: 'Poppins', sans-serif !important; */
  font-family: 'Jost', sans-serif !important;
  text-rendering: optimizeLegibility;
}

hr {
  width: 30% !important;
  color: #d5d5d5;
  margin: 0 auto;
}

h3 {
  color: #425466;
  font-weight: 600;
}
